<ion-header class="ion-no-border" >
<!--  <ion-toolbar >-->
<!--&lt;!&ndash;    <ion-img  routerLink="/home" [src]="'assets/logo.svg'" class="logo"></ion-img>&ndash;&gt;-->
<!--    <ion-title>-->

<!--    </ion-title>-->


<!--    <ion-buttons slot="end" >-->
<!--      <ion-button routerLink="/login" color="light" slot="end" *ngIf="!logged_in">-->
<!--        &lt;!&ndash;      <ion-icon name="person-outline" slot="start"></ion-icon>&ndash;&gt;-->
<!--        <ion-label>Login</ion-label>-->
<!--      </ion-button>-->

<!--      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
  <ion-toolbar>


    <!--    <ion-buttons slot="start">-->
    <!--      <ion-back-button></ion-back-button>-->
    <!--    </ion-buttons>-->
    <div class="d-flex ion-padding-top">
      <ion-img routerLink="/home" [src]="'assets/logo.svg'" class="logo"></ion-img><ion-searchbar placeholder="Try &quot;Difi&quot; or &quot;Hot Wallet&quot; "></ion-searchbar>
    </div>
    <ion-title>

    </ion-title>


    <ion-buttons slot="end" class="ion-hide-sm-down">

      <ion-tab-button tab="book">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Book Expert</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="consultants">
        <ion-icon name="people-circle"></ion-icon>
        <ion-label>View Consultants</ion-label>
        <!--        <ion-badge>6</ion-badge>-->
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
        <!--        <ion-badge></ion-badge>-->
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-sm-up">

      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid fixed *ngIf="logged_in">
    <p *ngIf="logged_in">Welcome, {{ first_name }}</p>
    <ion-card>
      <ion-item routerLink="/profile" class="ion-activated">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
    </ion-card>
  </ion-grid>


  <ion-grid >
    <ion-row class="ion-justify-content-center" >
      <ion-col  size-lg="5" size-sm="6" size="12" >
        <ion-card class="ion-padding ion-no-margin">
          <ion-item class="ion-no-border ">
            <ion-img [src]="'assets/logo.svg'" style="width: 80px"></ion-img>

<!--            <ion-button fill="outline" slot="end">View</ion-button>-->
          </ion-item>

          <ion-card-content>
            <ion-text >
              <h1>Talk to <strong>Crypto Experts Now</strong></h1>
              <p>Using <strong>share-screen</strong> feature to easily assist you with your problem</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size-lg="6">
        <ion-card class="ion-pading ion-no-margin" color="light"  routerLink="/book">

          <ion-card-content>
            <ion-row class="ion-nowrap">
              <ion-img [src]="'assets/icon/screen.png'" style="width: 80px"></ion-img>
            <ion-text class="ion-padding" >
              <h2><strong>Book Screen Sharing Consultant Now</strong></h2>
              <p>Using <strong>share-screen</strong> feature to easily assist you with your problem</p>

            </ion-text>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6">
        <ion-card class="ion-pading ion-no-margin" color="light" style="height: 100%" routerLink="/consultants">

          <ion-card-content>
            <ion-row class="ion-nowrap">
              <ion-img [src]="'assets/icon/team.png'" style="width: 80px"></ion-img>
              <ion-text class="ion-padding" >
                <h2><strong>View Consultants</strong></h2>
                <p>Browse <strong>crypto</strong> experts that can help with your problem based on their experience</p>

              </ion-text>

            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content>
    <ion-button (click)="openModal()" class="ion-padding" expand="block" shape="round" fill="outline" color="light">What We Do?</ion-button>
<!--    <p *ngIf="dataReturned">{{dataReturned}}</p>-->
  </ion-content>
</ion-content>
