<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--    <ion-buttons slot="start">-->
    <!--      <ion-back-button></ion-back-button>-->
    <!--    </ion-buttons>-->
    <ion-img routerLink="/home" [src]="'assets/logo.svg'" class="logo"></ion-img>
    <ion-title>

    </ion-title>


    <ion-buttons slot="end" class="ion-hide-sm-down">

      <ion-tab-button tab="schedule">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Book Expert</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="consultants">
        <ion-icon name="people-circle"></ion-icon>
        <ion-label>View Consultants</ion-label>
        <!--        <ion-badge>6</ion-badge>-->
      </ion-tab-button>
      <ion-tab-button tab="schedule-time">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="user-profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
        <!--        <ion-badge></ion-badge>-->
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-sm-up">

      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>

    <ion-row class="ion-justify-content-between">

      <ion-col size="12" size-md="7">

          <ion-list-header>
            <h1><strong>Upcoming Meeting</strong></h1>
          </ion-list-header>

        <ion-card *ngFor="let consultant of consultants" class="ion-pading ion-no-margin" color="dark" (click)="openModalProfile(consultant)" >
          <ion-card-header>
            <ion-card-title >Monday Nov 5th 6:00pm </ion-card-title>
            <ion-card-subtitle>Meeting with</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-row class="ion-justify-content-end">
              <ion-col size="auto">
                <ion-img [src]="consultant.image_url" style="width: 40px; max-width: 100%"></ion-img>

              </ion-col>
              <ion-col class="ion-padding-start">

                <ion-text>
                  <h2><strong></strong>
                      {{ consultant.first_name }} {{ consultant.last_name }}
                    </h2>

                  <p>Meeting about ......</p> <br>

                </ion-text>
              </ion-col>
              <ion-col size="12" sizeSm="3" class="d-flx ion-justify-content-end">
                <!--                        <p><strong>Next Availability: time, date</strong></p>-->
                <!-- Calendly link widget begin -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"
                        async></script>
                <ion-button color="light" fill="solid" expand="block"  id="{{ consultant.calendly_id }}"  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/'+this.id});
              return false;"> <ion-icon name="share" size="large"></ion-icon>
                  <ion-label>Join</ion-label>
                </ion-button>

                <ion-button color="light" fill="solid" expand="block"  id="{{ consultant.calendly_id }}"  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/'+this.id});
              return false;"><ion-icon name="easel" size="large"></ion-icon><ion-label> Join with screen share </ion-label>
                </ion-button>
                <ion-button tab="profile" color="light">
                  <ion-icon name="person-circle"></ion-icon>
                  <ion-label>Profile</ion-label>
                </ion-button>
                <!-- Calendly link widget end -->

              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
